@import "tailwindcss";

:root {
  /* Warna Dasar Luxury Araika */
  --background: #1A1412; /* Cokelat Gelap khas Araika */
  --foreground: #FDFCF0; /* Cream Terang untuk Teks */
  
  /* Accent Colors */
  --accent: #C67C4E;      /* Emas/Tembaga */
  --champagne: #EAD8B1;   /* Champagne Gold untuk teks brand */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-brand-gold: var(--champagne);
}

/* Memastikan transisi warna smooth di seluruh web */
* {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Gunakan font sans-serif yang lebih modern atau bawaan Next.js */
  font-family: var(--font-sans), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar agar tetap Luxury */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1A1412;
}

::-webkit-scrollbar-thumb {
  background: #C67C4E33; /* Emas transparan */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C67C4E;
}